<mat-card class="table">
  <tbody>
    <tr *ngFor="let movie of getMoviesToDisplay()">
      <mat-card-header>
        <img mat-card-image [src]="getMoviePosterUrl(movie.poster_path)" alt="{{ movie.original_title }}">
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>{{ movie.original_title }}</mat-card-title>
        <mat-card-subtitle>{{ movie.release_date | date: 'yyyy' }}</mat-card-subtitle>
      </mat-card-content>
    </tr>
  </tbody>
</mat-card>

<div class="pagination">
  <button mat-fab extended color="" (click)="prevPage()">
    <mat-icon>keyboard_arrow_left</mat-icon> Anterior</button>
  <button mat-fab extended color="" (click)="nextPage()">
    <mat-icon>keyboard_arrow_right</mat-icon>Siguiente</button>
</div>