<table class="table">
    <tbody>
      <tr *ngFor="let movie of getMoviesToDisplay()">
        <td><img [src]="getMoviePosterUrl(movie.poster_path)" alt="{{ movie.original_title }}"></td>
        <td>{{ movie.original_title }}</td>
        <td>{{ movie.release_date | date: 'yyyy' }}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="pagination">
    <button mat-button color="primary" (click)="prevPage()">Anterior</button>
    <button mat-button color="primary" (click)="nextPage()">Siguiente</button>
  </div>