.container
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 16px // Espacio entre las tarjetas (puedes ajustarlo según tus necesidades)
    max-width: calc(20% * 5)

mat-card
    flex: 1
    max-width: calc(20% - 16px) // 20% del ancho del contenedor con margen entre tarjetas
    margin: 8px
    align-items: center
    background-color: #5A537D
    border: 5px solid #CFCCD6
    border-radius: 10px 
    
     
mat-card-content
    
    align-items: center

button
    border: 5px solid #74A6E0
    height: 30px
    width: 148px
