<form>
  <div class="filtros">
    <select id="genre" [(ngModel)]="selectedGenre" name="selectedGenre">
      <option value="" disabled selected>Género</option>
      <option *ngFor="let genre of genreOptions" [value]="genre.id">{{ genre.name }}</option>
      <!--Opciones de género (puedes usar *ngFor para generar opciones dinámicamente) -->
    </select>
  </div>
  <div class="filtros">
    <select id="sort" [(ngModel)]="selectedSort" name="selectedSort">
      <option value="" disabled selected>Ordenar por</option>
      <option *ngFor="let op of sortOptions" [value]="op">{{ op }}</option>
      <!-- Opciones de ordenamiento (puedes usar *ngFor para generar opciones dinámicamente) -->
    </select>
  </div>
  <button class="apply" (click)="applyFilter()">Aplicar</button>
</form>