/* You can add global styles to this file, and also import other style files */
//variables
$color-principal: #3F345E 

*
   margin: 0
   border: 0
   padding: 0


.mat-typography
  //margin: 40px
  font-family: 'Roboto'
  background-color: $color-principal
  

button mat-icon
   color: $color-principal
    



